<div class="page-header">
  <h1>Teachers</h1>
</div>
<ul class="list-unstyled list-inline">
  <li>
    <%= linkTo(newTeachersPath(), {class: "btn btn-primary"}) { %>
      Create New Teacher
    <% } %>
  </li>
</ul>

<table class="table table-striped">
  <thead>
  <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (teacher) in teachers { %>
      <tr>
      <td>
          <div class="pull-right">
            <%= linkTo(teacherPath({ teacher_id: teacher.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editTeacherPath({ teacher_id: teacher.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(teacherPath({ teacher_id: teacher.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
