<script src="https://unpkg.com/papaparse@latest/papaparse.min.js"></script>
<br/><br/>

<div class="container">
<%= javascriptTag("application.js") %>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<%= javascriptTag("tempusdominus-bootstrap-4.js") %>
<link rel="stylesheet" type="text/css" href="https://rawgit.com/tempusdominus/bootstrap-4/master/build/css/tempusdominus-bootstrap-4.css">
<form method="POST" action="<%= newDPath() %>">
        <input name="authenticity_token" type="hidden" value="<%= authenticity_token %>" />

        <div class="form-group col-sm-6 date">
                <label for="input-startdate"><%= t("dashboard.new.start_date") %></label>
                <div class="input-group date" id="start_datepicker" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#start_datepicker"/>
                    <div class="input-group-append" data-target="#start_datepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <small id="startDateHelp" class="form-text text-muted"><%= t("dashboard.new.tooltip_startdate") %></small>
        </div>

        <div class="form-group col-sm-6 date" id="end_datepicker">
                <label for="input-enddate"><%= t("dashboard.new.end_date") %></label>
                <div class="input-group date" id="input-enddate" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#input-enddate"/>
                    <div class="input-group-append" data-target="#input-enddate" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <small id="endDateHelp" class="form-text text-muted"><%= t("dashboard.new.tooltip_enddate") %></small>
        </div>

        <div class="form-group col-sm-6 mb-3 date" id="kill_datepicker">
                <label for="input-killdate"><%= t("dashboard.new.kill_date") %></label>
                <div class="input-group date" id="input-killdate" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#input-killdate"/>
                    <div class="input-group-append" data-target="#input-killdate" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <small id="killDateHelp" class="form-text text-muted"><%= t("dashboard.new.tooltip_killdate") %></small>
        </div>


        <div class="form-group col-sm-6 mb-3 date" id="import_data">
                <label for="input-killdate"><%= t("dashboard.new.import_data") %></label>
                <div class="input-group">
                        <div class="custom-file">
                                <input type="file" class="file custom-file-input" id="input-file" accept="csv"/>
                                <label class="custom-file-label" for="input-file"><%= t("dashboard.new.importdata_browse") %></label>
                        </div>
                        <div class="input-group-append">
                                <button id="import_btn" type="btn" class="bs-btn bs-btn-secondary input-group-text"><%= t("dashboard.new.importdata_upload-parse") %></button>
                        </div>
                </div>
                <small id="killDateHelp" class="form-text text-muted"><%= t("dashboard.new.tooltip_importdata") %></small>
        </div>


        <!-- This progress bar indicates how far we have got by creating the Classes/ Teachers/ ...-->
        <div class="progress" id="prog-div" style="display:none">
                  <div id="data_progress"
                        class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                        role="progressbar" aria-valuenow="0" aria-valuemin="0"
                        aria-valuemax="100" style="width:0%">
                          70%
                  </div>
        </div>
        <br/>

        <!-- Will only apear if a file has been choosen-->

        <button type="submit" class="col-lg-2 col-md-2 col-sm-2 bs-btn bs-btn-primary bs-btn-block"><%= t("submit") %></button>
</form>
</div>

<%= javascriptTag("dashboard.js") %>
<%= javascriptTag("papaparse.min.js") %>
<script charset="utf-8">
        // ==============================
        var apiUrl = window.location.origin + "/api/v1/";
        // ==============================


        document.getElementById('input-file').addEventListener('change', inputCSVChange, false);

        var parserConfig = {
          header: true,
          complete: function complete(res) {
            createData(res);
          }
        }; // getCSVFile gets the uploaded CSV file which the users has added

        function inputCSVChange(event) {
          console.log("Getting CSV file");
          var reader = new FileReader();
          reader.onload = parseCSV;
          reader.readAsText(event.target.files[0]);
          console.log("[----] CSV parsed!");
        }

        function parseCSV(event) {
          console.log(event.target.result);
          var data = Papa.parse(event.target.result, parserConfig);
        }

        async function createData(res) {
          var data = res.data;
          var teachers = new Map();
          var classes = new Map();

          var progressPercent = 0;

          // show progress-bar to user
          var elem = document.getElementById("prog-div");
          elem.style.display = "block";

          for(i = 0; i < data.length; i++) {
            progressPercent = (i / (data.length - 1)) * 100;
            updateProgressbar("data_progress", progressPercent);

            var dat = data[i];

            var _teacher = {
                name: dat['teacher_name'],
                mail: dat['teacher_mail'],
                room: dat['teacher_room']
            };

            try {
                    // skip if array is empty
                    if(typeof data[i] === "undefined" ||
                        _teacher.name.length == 0) {
                      continue;
                    }
            } catch(e) {
                continue;
            };

            // check if Teacher already exists
            if(!teachers.has(_teacher.name)) {
                console.log("Teacher does not exists. creating...");

                var result = await createTeacher(_teacher);
                teachers.set(_teacher.mail, result.id);
                console.log("~~> Created teacher with id: " + result.id);
            }

            var _class = {
                name: dat['class_name'],
                num_students: Number(dat['num_students'])
            };


            try {
                    // skip if _class.name is undefined
                    if(_class.name.length == 0) {
                        continue;
                    }
            } catch (e) {
                continue;
            };

            // check if Class already exists
            if(!classes.has(_class.name)) {
                console.log("==>=======> " + JSON.stringify(_class));
                console.log("Class does not exists. creating...");

                var result = await createClass(_class);
                classes.set(_class.name, result.id);
                console.log("~~> Created class with id: " + result.id);
            }

            // map them
            var _map = {
                class: {
                        name: dat['class_name'],
                        num_students: Number(dat['num_students']),
                        id: classes.get(_class.name)
                },
                subject: {
                        subject_name: dat['subject'],
                        class_id: classes.get(_class.name),
                        teacher_id: teachers.get(_teacher.mail)
                }
            };

            var result = await mapSubjectClass(_map);
            console.log("++> Mapped " + JSON.stringify(result));
          }
        }

        function updateProgressbar(bar_id, percent) {
                var elem = document.getElementById(bar_id);
                elem.style.width = percent + "%";
                elem.innerHTML = percent + "%";
        }

        // creates a new Teacher
        // @returns the 'TeacherID'
        async function createTeacher(data) {
          var response = await fetch(apiUrl + "teacher/new", {
                body: JSON.stringify(data),
                method: "POST",
                headers: {
                  'Content-Type': 'application/json'
                },
                credentials: "same-origin"
          })
          .catch(error=>console.log(error));

          return await response.json();
        }

        // creates a new Class
        // @returns the 'ClassID'
        async function createClass(data) {
          var response = await fetch(apiUrl + "class/new", {
                body: JSON.stringify(data),
                method: "POST",
                headers: {
                  'Content-Type': 'application/json'
                },
                credentials: "same-origin"
          })
          .catch(error=>console.log(error));

          return await response.json();
        }

        // mapSubjectClass maps a Class with a Subject & Teacher
        // @returns JSON struct defined in GoLang code
        async function mapSubjectClass(data) {
          var response = await fetch(apiUrl + "class/map", {
                body: JSON.stringify(data),
                method: "POST",
                headers: {
                  'Content-Type': 'application/json'
                },
                credentials: "same-origin"
          })
          .catch(error=>console.log(error));

          return await response.json();
        }

        $(function() {
                $('#start_datepicker').datetimepicker({
                        format: 'yyyy-mm-dd hh:ii'
                });
                $('#input-enddate').datetimepicker({
                        format: 'yyyy-mm-dd hh:ii'
                });
                $('#input-killdate').datetimepicker({
                        format: 'yyyy-mm-dd hh:ii'
                });
        });
</script>
